<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>
    <body>
    <h1>Movie Details</h1>

        {{#movies}}
            <form id="movieList" action="/movies/delete-movie" method="POST" >
                <h1>{{title}} </h1>
                <h2>Description: {{description}}</h2>
                <h2>Genre: {{genre}}</h2>
                <img id="moviePoster" src="{{posterURL}}"/> 
                <button>Delete</button>
                <input type="hidden" name="movieID" value="{{uuid}}">
            </form>
        {{/movies}}

    </body>
</html>